@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    background-color: #102031;
    color: #eeeeee;
}

.heaer {
    background-color: #333333;
}

.mainContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nameBlock {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 30px;
    padding: 20px 0 40px 0;

}

.buttonExercise {
    width: 100px;
    height: 20px;
    font-size: 18px;
    margin-top: 10px;
    text-align: start;
    color: #00cccc;
    background: transparent;
    border: none;
}

.buttonExercise:hover {
    color: rgba(70, 138, 138, 0.9);
}

.contentExercise {
    max-width: 100%;
    font-size: 18px;
    background-color: rgba(16, 32, 49, 0.4);
    padding: 12px;
    line-height: 1.5;
    text-align: justify;
    margin-top: 10px;
    opacity: 1;
    transition: max-height 0.2s ease-out;
    display: none;
}

.visibleContainer {
    width: 80vw;
    height: 100%;
    background-color: #0b344d;
    padding: 25px;
}

.tableWrapper {
    display: grid;
    max-width: 100%;
    grid-template-rows: 0.5fr 2fr;
    grid-template-columns: 0.5fr 1fr 3fr 4fr;
    grid-gap: 5px;
}

.cellTable {
    background-color: rgba(255, 255, 255, 0.85);
    color: black;
    padding: 10px;
    font-size: 20px;
}

.cellTextTable {
    padding: 5px;
    font-size: 20px;
    font-weight: 700;
}

.imgLink {
    width: 50px;
    height: 50px;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 220px;
    background-color: #102031;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.divider {
    background-color: #ffffff;
    opacity: 0.2;
    margin: 60px 0 50px 0;
    border-left: none;
    border-right: none;
    border-top: none;
    border-radius: 0;
    z-index: 2;
}

.textView {
    font-size: 20px;
    margin-left: 10px;
    line-height: 2;
    text-align: justify;
}

.textViewIndents {
    font-size: 20px;
    margin-left: 60px;
    line-height: 1.8;
    text-align: justify;
}

.imageGrid {
    display: flex;
    justify-content: center;
}

.imageView {
    width: 260px;
    height: 460px;
    margin: 20px;
}


.tableWrapperMistakes {
    display: grid;
    max-width: 80%;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 5fr;
}

.cellTableMistakes {
    padding: 10px;
    font-size: 20px;
}

.imageTextAlignment {
    max-width: 80%;
    height: 550px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.game {
    margin: 50px 0 50px 0;
    height: 50%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.containerScore {
    width: 326px;
    font-size: 20px;
    margin: 0;
    padding: 0 20px 0 20px;
    display: flex;
    flex-flow: column;
}

.score {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    margin: 0;
}

.content {
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.styleContainerScore {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 0;
}

.infoBlock {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 0;
    font-size: 20px;
}

.wrap {
    padding: 10px;
}

.scoreGame {
    font-size: 40px;
    max-width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell {
    border: 1px solid #eeeeee;
    background-color: #0b344d;
    border-radius: 10%;
    width: 100px;
    height: 100px;
    display: table-cell;
    font-size: 60px;
    font-weight: 500;
    text-align: center;
}

.modalWindowBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 3;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}


.resultContainer {
    width: 60vw;
    height: 35vh;
    padding: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.textResult {
    font-size: 40px;
}

.buttonAgain {
    width: 180px;
    height: 80px;
    margin: 45px 0 10px 0;
    background-color: rgba(11, 52, 77, 0.6);
    font-size: 30px;
    border-radius: 5%;
}

.buttonAgain:hover {
    box-shadow: 2px 6px 3px rgba(0, 0, 0, 0.3);
}

.buttonJustClose {
    width: 180px;
    height: 30px;
    margin: 10px;
    background-color: rgba(11, 52, 77, 0.6);
    font-size: 20px;
    border-radius: 5%;
}

.buttonJustClose:hover {
    box-shadow: 2px 6px 3px rgba(0, 0, 0, 0.3);
}

.containerFigures {
    width: 90%;
    height: 90%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.figuresModalWindow {
    width: 160px;
    height: 160px;
    background-color: rgba(11, 52, 77, 0.6);
    border-radius: 10%;
    font-size: 140px;
    color: black;
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.figuresModalWindow:hover {
    box-shadow: 2px 6px 3px rgba(0, 0, 0, 0.3);
}

.buttonAgainInGame {
    width: 150px;
    height: 70px;
    margin: 45px 0 10px 0;
    background-color: rgba(11, 52, 77, 0.6);
    font-size: 20px;
    border: 1px solid #eeeeee;
    border-radius: 5%;
    color: #eeeeee;
}

.buttonAgainInGame:hover {
    box-shadow: 2px 6px 3px rgba(0, 0, 0, 0.3);
}

.footer {
    width: 100%;
    height: 250px;
    background-color: #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.footerText {
    font-size: 10px;
    margin-top: 10px;
}

@media screen and (max-width: 920px) {

    .imageView {
        width: 200px;
        height: 380px;
        margin: 15px;
    }
}

@media screen and (max-width: 730px) {

    .textView {
        font-size: 15px;
        margin-left: 10px;
    }

    .textViewIndents {
        font-size: 15px;
        margin-left: 30px;
    }

    .imageView {
        width: 150px;
        height: 320px;
        margin: 10px;
    }

}

@media screen and (max-width: 650px) {

    .cellTable {
        padding: 5px;
        font-size: 13px;
    }

    .cellTextTable {
        padding: 5px;
        font-size: 15px;
    }

    .imageTextAlignment {
        max-width: 100%;
        height: 300px;
        margin: 30px 0 40px 0;
    }

    .contentExercise {
        font-size: 15px;
        padding: 10px;
    }
}

@media screen and (max-width: 553px) {



    .imageView {
        width: 120px;
        height: 270px;
        margin: 10px;
    }

    .styleContainerScore {
        justify-content: space-around;
    }

    .resultContainer {
        width: 60vw;
        height: 25vh;
    }

    .textResult {
        font-size: 25px;
    }

    .figuresModalWindow {
        width: 100px;
        height: 100px;
        font-size: 100px;
        margin: 20px;
    }

    .buttonAgain {
        width: 150px;
        height: 60px;
        margin: 30px 0 8px 0;
        font-size: 25px;
    }

    .buttonJustClose {
        width: 150px;
        height: 25px;
        margin: 10px;
        font-size: 18px;
    }

}

@media screen and (max-width: 360px) {

    .nameBlock {
        font-size: 25px;
    }

    .cellTable {
        padding: 5px;
        font-size: 10px;
    }

    .cellTextTable {
        padding: 5px;
        font-size: 12px;
    }

    .imgLink {
        width: 30px;
        height: 30px;
    }

    .imageView {
        width: 80px;
        height: 150px;
        margin: 5px;
    }

    .score {
        font-size: 30px;
    }

    .cell {
        width: 80px;
        height: 80px;
        font-size: 50px;
    }

    .resultContainer {
        width: 60vw;
        height: 20vh;
    }

    .textResult {
        font-size: 25px;
    }

    .figuresModalWindow {
        font-size: 80px;
        margin: 10px;
    }
}