@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    background-color: #102031;
    color: #eeeeee;
}

.heaer {
    background-color: #333333;
}

.main{
    width: 100%;
    height: 50%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.containerScore{
    width: 326px;
    font-size: 20px;
    margin: 0;
    padding:  0 20px 0 20px;
    display: flex;
    flex-flow: column;
}

.score{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    margin: 0;
}

.content {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.styleContainerScore{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 0;
}

.infoBlock{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 0;
    font-size: 20px;
}

.wrap {
    padding: 10px;
}

.scoreGame{
    font-size: 40px;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell {
    border: 1px solid #eeeeee;
    background-color: #0b344d;
    border-radius: 10%;
    width: 100px;
    height: 100px;
    display: table-cell;
    font-size: 60px;
    font-weight: 500;
    text-align: center;
}

.modalWindowBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 3;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}


.resultContainer {
    width: 60vw;
    height: 35vh;
    padding: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.textResult {
    font-size: 40px;
}

.buttonAgain {
    width: 180px;
    height: 80px;
    margin: 45px 0 10px 0;
    background-color: rgba(11, 52, 77, 0.6);
    font-size: 30px;
    border-radius: 5%;
}

.buttonAgain:hover {
    box-shadow: 2px 6px 3px rgba(0, 0, 0, 0.3);
}

.buttonJustClose {
    width: 180px;
    height: 30px;
    margin: 10px;
    background-color:  rgba(11, 52, 77, 0.6);
    font-size: 20px;
    border-radius: 5%;
}

.buttonJustClose:hover {
    box-shadow: 2px 6px 3px rgba(0, 0, 0, 0.3);
}

.containerFigures {
    width: 90%;
    height: 90%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.figuresModalWindow {
    width: 160px;
    height: 160px;
    background-color: rgba(11, 52, 77, 0.6);
    border-radius: 10%;
    font-size: 140px;
    color: black;
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.figuresModalWindow:hover {
    box-shadow: 2px 6px 3px rgba(0, 0, 0, 0.3);
}

.buttonAgainInGame {
    width: 150px;
    height: 70px;
    margin: 45px 0 10px 0;
    background-color: rgba(11, 52, 77, 0.6);
    font-size: 20px;
    border: 1px solid #eeeeee;
    border-radius: 5%;
    color: #eeeeee;
}

.buttonAgainInGame:hover {
    box-shadow: 2px 6px 3px rgba(0, 0, 0, 0.3);
}



@media screen and (max-width: 553px) {

    .styleContainerScore{
        justify-content: space-around;
    }

    .resultContainer {
        width: 60vw;
        height: 25vh;
    }

    .textResult {
        font-size: 25px;
    }

    .figuresModalWindow {
        width: 100px;
        height: 100px;
        font-size: 100px;
        margin: 20px;
    }

    .buttonAgain {
        width: 150px;
        height: 60px;
        margin: 30px 0 8px 0;
        font-size: 25px;
    }

    .buttonJustClose {
        width: 150px;
        height: 25px;
        margin: 10px;
        font-size: 18px;
    }
    
}

@media screen and (max-width: 360px) {

    .score{
        font-size: 30px;
    }
    
    .cell {
        width: 80px;
        height: 80px;
        font-size: 50px;
    }

    .resultContainer {
        width: 60vw;
        height: 20vh;
    }

    .textResult {
        font-size: 25px;
    }

    .figuresModalWindow {
        font-size: 80px;
        margin: 10px;
    }
}